/* Общие стили */
body {
  margin: 0;
  font-family: 'Roboto', Arial, sans-serif;
  background-color: #0B0E1A; /* единый фон */
  color: #FFD700;            /* золотой текст */
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Экран */
.screen {
  width: 100%;
  height: 100%;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.panel {
  box-shadow: 0 0 20px rgba(255, 215, 0, 0.2);
}


.screen, .panel {
  background-color: #1A1F2E; /* графитовый фон панелей */
  border: 2px solid #FFD700;
  border-radius: 10px;
}



.active {
  display: flex;
}

/* Заголовки */
h1 {
  font-size: 2.5em;
  margin-bottom: 1em;
  text-align: center;
}


/* Кнопки */
button {
  background-color: #222222;
  color: #FFD700;
  border: none;
  padding: 1em 2em;
  margin: 0.5em;
  font-size: 1.2em;
  border-radius: 8px;
  cursor: pointer;
  transition: transform 0.2s, box-shadow 0.2s, background-color 0.3s;
}

button:hover {
  background-color: #474747;
  box-shadow: 0 0 15px #FFD700;
}

button:active {
  transform: scale(0.95);
  box-shadow: 0 0 10px #FFD700;
}

/* Поля ввода */
input {
  background-color: #0E0E0E;
  border: 2px solid #FFD700;
  color: #FFD700;
  padding: 0.5em;
  margin: 0.5em;
  font-size: 1.2em;
  border-radius: 6px;
  text-align: center;
  transition: box-shadow 0.3s, border-color 0.3s;
}

input:focus {
  outline: none;
  border-color: #FFC107;
  box-shadow: 0 0 10px #FFD700;
}


/* Таблица истории */
table {
  border: 2px solid #FFD700;
  border-collapse: collapse;
  width: 90%;
  text-align: center;
  margin-top: 1em;
}

th, td {
  border: 1px solid #FFD700;
  padding: 0.5em;
}

thead {
  background-color: #1C1C1C;
}

/* Экран победы */
#victory h1 {
  font-size: 3em;
  color: #FFD700;
  margin-bottom: 0.5em;
}

#victory div {
  animation: pulse 1.5s infinite;
}

#celebration {
  animation: sparkle 2s infinite alternate;
}

/* Анимации */
@keyframes pulse {
  0% { transform: scale(1); }
  50% { transform: scale(1.1); }
  100% { transform: scale(1); }
}

@keyframes sparkle {
  0% { opacity: 0.5; transform: rotate(0deg); }
  100% { opacity: 1; transform: rotate(10deg); }
}
